# Python 
.venv/
.python-version
.ipynb_checkpoints/
__pycache__/

# Data
data/
!data/*.gitkeep

# Models
models/
!models/.gitkeep

# Env
.env
.envrc
uv.lock
__pycache__
mlflow.db

# mlflow
mlartifacts/

